# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Databases and instance folders
instance/
*.sqlite3
*.db

# Virtual environments
venv/
.venv/
ENV/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
.next/
